- title "Games"

%table
  %tr
    %th Game date
    %th Opponent
    %th Home away
  - for game in @games
    %tr
      %td= game.game_date
      %td= game.opponent
      %td= game.home_away
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Game", new_game_path