!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      #menu
        #logo
          = image_tag("logo-3.jpg")
        #nav
          = link_to("Blog", "#")
          = link_to("Forums", "#")
          = link_to("Chat", "#")
          = link_to("Profile", "#")
          = link_to("Schedule", "#")                
          = link_to("Bulls Feed", "#")
        
      #main_content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        - if show_title?
          %h1= yield(:title)
        = yield
